.pageCenter {
    width: 100%;
    height: 100%;
}

.pageTitle {
    font-size: 32px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 14px;
    text-align: center;
}

.getPassBox {
    width: 340px;
    padding: 16px;
    border: 2px solid #000000;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 3px 8px rgba(0,0,0,0.25);
}

.sapMLabel {
    font-weight: 600;  
    text-align: center;
    width: 100%;
}

.sapMInputBase {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.btnCenter {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    margin-left: 29%;
}



/* Container for the pass */
.passContainer {
    width: 350px;               /* Adjust width */
    margin: 30px auto;          /* Center horizontally */
    padding: 20px;
    border: 2px solid #030303; /* Blue border */
    border-radius: 12px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    text-align: center;
}

/* Title style for the pass */
.passContainer .passTitle {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 15px;
    color: #000000;
}
 
/* Label and value layout */
.passContainer .passDetail {
    display: flex;
    margin: 8px 0;
    font-size: 1rem;
    justify-content: center;
}

.passContainer .passDetail .label {
    font-weight: 800;
    margin-right: 20px;
    color: #000000;
}

.passContainer .passDetail .value {
    font-weight: 500;
    font-size: 34px;
    text-align: center;
    color: #222;
}

/* QR code container */
.passContainer .qrContainer {
    margin-top: 20px;
}



#hboxDownload {
    margin-left: 50px;
}

#btnDownloadPdf {
    min-width: 140px;
    margin-left: 200px;
}

